[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = ./oh-my-zsh
[submodule "ag.vim"]
	path = ag.vim
	url = ./vim/bundle/ag.vim
[submodule "splitjoin.vim"]
	path = splitjoin.vim
	url = ./vim/bundle/splitjoin.vim
[submodule "vim-markdown"]
	path = vim-markdown
	url = ./vim/bundle/vim-markdown
